body.modal {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

.memorama {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 0px 5vw 0px 5vw;
}

.card {
  margin-bottom: 5vh;
  margin-right: 2vw;
  border: none;
  padding: 0;
  perspective: 1000px;
  background-color: transparent;
}

.card.selected .flipper {
  transform: rotateY(180deg);
}

.card, .front, .back {
  width: 15vw;
  height: 15vw;
}

@media (max-width: 800px) {
  .memorama {
    margin: 0 1vw 0 1vw;
    justify-content: center;
  }
  .card {
    margin-bottom: 2vh;
    margin-right: 1vw;
  }
  .card, .front, .back {
    width: 22vw;
    height: 22vw;
  }
}

.flipper {
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(180deg);
}

.back {
  z-index: 2;
  transform: rotateY(0deg);
}

.front img, .back img {
  width: 100%;
  height: 100%;
  margin: 0;
}
